altair==5.3.0
beautifulsoup4==4.12.3
Bio==1.6.2
biopython==1.83
Cython==3.0.10
docx==0.2.4
edge_tts==6.1.10
fake_useragent==1.5.1
fastapi==0.110.1
googletrans==3.0.0
langchain==0.1.14
langchain_community==0.0.31
langserve==0.0.51
matplotlib==3.8.3
neurokit2==0.2.7
newspaper==0.1.0.7
nltk==3.8.1
numpy==1.26.4
ordereddict==1.1
pandas==2.2.1
polars==0.20.18
PyPDF2==3.0.1
pytest==8.1.1
Requests==2.31.0
scipy==1.13.0
seaborn==0.13.2
selenium==4.19.0
setuptools==68.2.2
streamlit==1.32.2
torch==2.2.1+cu121
transformers==4.39.0.dev0
